<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpVectors" version="1.7.6" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="19.2.0.57" targetFramework="net46" />
  <package id="Syncfusion.SfDiagram.WPF" version="19.2.0.57" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="19.2.0.57" targetFramework="net46" />
</packages>